<nav class="navbar navbar-expand-lg fixed-top bg">
    <div class="container">
        
        <a class="navbar-brand animate__animated animate__heartBeat animate__infinite infinite" routerLink="home">
            <img src="../../assets/images/icons/fort_icon/fort_icon8.png" alt="logo" style="width:40px;">
          </a>
        <a class="animate__animated animate__backInUp navbar-brand font-weight-bold text-white" routerLink="home">MH<span class="text-white">HIKES</span></a>
        
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="fa fa-navicon" style="color:#fff; font-size:28px;"></i>
            </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white font-weight-bold animate__animated animate__fadeInDown animate__delay-1s" routerLink="home"> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white font-weight-bold animate__animated animate__fadeInUp animate__delay-1s" routerLink="forts">Forts</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white font-weight-bold animate__animated animate__fadeInDown animate__delay-1s" routerLink="do_and_Donot">Do&Don'ts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white font-weight-bold animate__animated animate__fadeInUp animate__delay-1s" routerLink="equipment">Equipment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white font-weight-bold animate__animated animate__fadeInDown animate__delay-1s" routerLink="faq">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white font-weight-bold animate__animated animate__fadeInUp animate__delay-1s" routerLink="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white font-weight-bold animate__animated animate__fadeInDown animate__delay-1s" routerLink="contact">Contact</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
