<!-- <video autoplay muted loop id="myVideo">
    <source src="../../assets/images/background_video/Mountains1.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
</video> -->


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="2000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="../../assets/images/Rajgad_Fort.jpg" alt="first slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/images/raigad_fort/raigad_fort1.jpg" alt="second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/images/lohagad_fort/lohagad_fort6.jpg" alt="third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/images/janjira_fort/janjira_fort2.jpg" alt="fourth slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/images/Torna_fort.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="content">
    <h3 class="text-center animate__animated animate__fadeInDownBig">"Look deep into nature and you will understand
        everything better."</h3>
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-md-6 col-6 mb-2">
            <button class="btn float-right btns animate__animated animate__backInRight animate__delay-2s"
                routerLink="/firstTime">First Time Trekker</button>
        </div>
        <div class="col-lg-6 col-sm-6 col-md-16 col-6 mb-2">
            <button class="btn float-left  btns animate__animated animate__backInLeft animate__delay-2s"
                routerLink="/professional">Professional Trekkers</button>
        </div>
    </div>
</div>





<!--  <div class="modal fade mt-5" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="text-right">
                <button type="button" class="close mr-1" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-header text-center">
                <h4 class="modal-title text-center">Trekkers</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 mb-1">
                        <button class="btn btn-danger btn-block nav-link" routerLink="/firstTime">First Time Trekker</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-success btn-block nav-link" routerLink="/professional">Professional Trekkers</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->