.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
}


.nav-tabs {
    border-bottom:none;
  }
  
  
  .nav-tabs .nav-link.active {
    background-color:#e2e2e2;
    border-bottom:#e2e2e2;
    font-weight: bold;
  }
  
  .tab-pane.active .tab-pane-header {
    padding:2rem;
    background-color:#e2e2e2;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    margin-bottom:1rem;
  }
  
  .tab-pane:first-child .tab-pane-header {
    border-top-left-radius: 0;
  }