<!-- <div class="container">
    <h3 class="text-center font-weight-bold pt-3 pb-3">11 Tips For First Time Trekkers - A Guide!</h3>
    <div class="row">
        
        <div class="col-md-12 col-sm-12 col-12 mb-4">

            <div id="accordion" class="accordion">
                <div class="card mb-0">

                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse1" data-parent="#accordion">
                        <a class="card-title"> 1.Expect the unexpected </a>
                    </div>
                    <div id="collapse1" class="card-body collapse" data-parent="#accordion">
                        <p>Downside of everything not being Robotic and clockwork yet. Expect all unlikely
                            situations to arise, basic human errors, natural turbulence and some off the plan turns.
                            As much as your organizer makes sure you get your value for money, and time invested,
                            understand that not everything works as smooth as a computer-code</p>
                    </div>

                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                        href="#collapse2">
                        <a class="card-title"> 2.Respect the natural state of the Trail </a>
                    </div>
                    <div id="collapse2" class="card-body collapse" data-parent="#accordion">
                        <p>Leave be the trees, flowers, fauna and local tribes alone. Meanwhile, realize the fine
                            line difference between “Experiencing the culture, interacting with locals” and
                            “Pressurizing them to interact with you or click pictures with you”. It is inappropriate
                            to treat someone that way because they are born in a ethnicity that looks different.
                            Leave behind nothing but footprints, take back lots of unforgettable memories. </p>
                    </div>

                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                        href="#collapse3">
                        <a class="card-title"> 3.Be responsibly Adventurous </a>
                    </div>
                    <div id="collapse3" class="collapse" data-parent="#accordion">
                        <div class="card-body"> 
                            <p>Let that adrenaline rush in, but know your limits. It only takes a
                                millisecond and one
                                reckless decision to get yourself in danger. Neither be a spoilsport and dare to be
                                adventurous, nor challenge yourself to new levels of risk.</p> 
                        </div>
                    </div>

                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                        href="#collapse4">
                        <a class="card-title"> 4.Push your sleep and physique limits to experience little things </a>
                    </div>
                    <div id="collapse4" class="collapse" data-parent="#accordion">
                        <div class="card-body"> 
                        <p>Clear Sunrises, starry skies, hooting owls, and the sound of silence.
                            These are the
                            little things you’ll probably not find back in your city home. Make the best of your
                            trip by experiencing these gems, and, discovering some new gem-moments of your own.</p>    
                        </div>
                    </div>

                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                        href="#collapse5">
                        <a class="card-title"> 5.Step out of your comfort zone </a>
                    </div>
                    <div id="collapse5" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <p> Pitch in your tents, sleep on a rugged tent floor,live off dimmed
                                lanterns, collect some
                                firewood, prepare food from peeling veggies to washing dishes afterwards. You’ll learn a
                                few life skills along the way, and, learn to appreciate little luxuries which you simply
                                buy off back home. </p>
                        </div>
                    </div>

                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                        href="#collapse6">
                        <a class="card-title"> 6. Carry your backpack. Do not offload it.</a>
                    </div>
                    <div id="collapse6" class="collapse" data-parent="#accordion">
                        <div class="card-body"> 
                            <p>Carrying your backpack is part of the trekking experience. It is a testament to your physical and mental strength. It is very empowering.</p>

                              <p>  We encourage this practice for two other reasons.  Firstly, although we have a weight limit of 9 kg for backpacks, I have personally witnessed trekkers coming with overweight bags. Porters and mules bear the brunt of this carelessness. When you make a conscious choice to carry your own backpack, you pack cautiously. Watch this video to see how to to pack effectively.</p>
                                
                               <p> Secondly, every time you offload a backpack, we take in an additional porter/mule. With that comes the need for extra resources which results in excess waste generation.  Hence, I recommend to give it a serious thought before choosing to offload your backpack.</p>
                        </div>
                    </div>

                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                        href="#collapse7">
                        <a class="card-title"> 7. Bring reusable items </a>
                    </div>
                    <div id="collapse7" class="collapse" data-parent="#accordion">
                        <div class="card-body"> 
                            <p>This is pretty self-explanatory.  Many trekkers find it inconvenient to wash their own utensils. Some bring disposable items for the trek.</p>
                            <p>Although we insist on reusable water bottles, use-and-throw bottles are frequently used by many. Not only are they a health hazard, they tend to accumulate and usually don’t find an exit from the mountains. Plastic bottles, styrofoam plates are a common sight. They take hundreds of years to decompose and are a threat to any ecosystem, let alone the pristine mountains.</p>
                        </div>
                    </div>

                    
                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                        href="#collapse8">
                        <a class="card-title"> 8. Bring eco-friendly products </a>
                    </div>
                    <div id="collapse8" class="collapse" data-parent="#accordion">
                        <div class="card-body"> 
                            <p>We often come to the mountains to detox  physically and mentally. With common toiletries like toothpaste, face wash, sunscreens, lip balms, etc., the dream of detox is a far cry.</p>
                            <p>Toiletries and cosmetics are often laden with harmful chemicals.  Oxybenzone in sunscreen has been attributed towards declining coral reefs by various studies and sodium laureth sulfate in toothpaste.</p>
                            <p>These are damaging to the body of the user as well as to the environment. So plan and pack eco-friendly alternatives. </p>
                        </div>
                    </div>

                    
                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                        href="#collapse9">
                        <a class="card-title"> 9. Collect and segregate waste </a>
                    </div>
                    <div id="collapse9" class="collapse" data-parent="#accordion">
                        <div class="card-body"> 
                            <p>Our core vision is to leave the mountains in a better state than we find them in. One way to do that is to clean the trail as we trek. The success of this mission depends largely on your participation. Thousands of trekkers like you, have helped us collect over 1500 sacks of garbage.</p>
                            <p>Cleaning is one thing; disposing the waste is a completely different ball game.  Much of the waste that we collect can be recycled.  Much of the waste we generate can be up-cycled.  But to facilitate this, we need to segregate waste. The easiest way of segregation is at the point of collection. Unsegregated garbage in landfills is as bad as transferring trash from one place to another. It is our moral obligation to segregate the waste we collect.</p>
                        </div>
                    </div>

                    
                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                        href="#collapse10">
                        <a class="card-title"> 10. Take your waste back </a>
                    </div>
                    <div id="collapse10" class="collapse" data-parent="#accordion">
                        <div class="card-body"> 
                            <p>Finding places to properly dispose waste is a constant struggle for me. Even when we do, the state of landfills is a far cry from set environmental standards.</p>
                            <p>Dumping grounds of Manali is one such example. Situated on the Beas river, it is a safety hazard by itself.  One way to reduce the load on these landfills is by consciously taking back the waste we generate. This includes the packaged food wrappers, plastic bottles, etc.</p>
                            <p>We also ask women trekkers to put used sanitary napkins in zip locks and take them back to the cities. At high altitude with low temperatures, bacteria is hardly active which means the rate of decomposition is dismal. As long as you properly layer it with newspaper and place it inside a zip-lock bag, you will hardly experience bad odor.  There is no reason to consider it unhygienic.</p>
                        </div>
                    </div>

                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                        href="#collapse11">
                        <a class="card-title"> 11. Take your waste back </a>
                    </div>
                    <div id="collapse11" class="collapse" data-parent="#accordion">
                        <div class="card-body"> 
                            <p>Finding places to properly dispose waste is a constant struggle for me. Even when we do, the state of landfills is a far cry from set environmental standards.</p>
                            <p>Dumping grounds of Manali is one such example. Situated on the Beas river, it is a safety hazard by itself.  One way to reduce the load on these landfills is by consciously taking back the waste we generate. This includes the packaged food wrappers, plastic bottles, etc.</p>
                            <p>We also ask women trekkers to put used sanitary napkins in zip locks and take them back to the cities. At high altitude with low temperatures, bacteria is hardly active which means the rate of decomposition is dismal. As long as you properly layer it with newspaper and place it inside a zip-lock bag, you will hardly experience bad odor.  There is no reason to consider it unhygienic.</p>
                        </div>
                    </div>


                </div>
            </div>

        </div>

    </div>
</div> -->

<section>
    <div class="container">

        <h3 class="text-center font-weight-bold pt-3 pb-3 animate__animated animate__zoomIn">11 Tips For First Time
            Trekkers - A Guide!</h3>

        <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link animate__animated animate__bounceIn active" id="home-tab" data-toggle="tab"
                    href="#tab1" role="tab" aria-controls="home" aria-selected="true">11 Tips For First Time
                    Trekkers</a>
            </li>
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link animate__animated animate__bounceIn" id="profile-tab" data-toggle="tab" href="#tab2"
                    role="tab" aria-controls="profile" aria-selected="false">Things To Do During Trek</a>
            </li>
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link animate__animated animate__bounceIn" id="contact-tab" data-toggle="tab" href="#tab3"
                    role="tab" aria-controls="contact" aria-selected="false">Things To DO Befor Trek</a>
            </li>
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link animate__animated animate__bounceIn" id="contact-tab" data-toggle="tab" href="#tab4"
                    role="tab" aria-controls="contact" aria-selected="false">Things To Do After Trek</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade active show" id="tab1" role="tabpanel" aria-labelledby="home-tab">
                
                <div class="tab-pane-header ">
                    <p>
                        Be it the Everest Base Camp or a not so arduous Triund trek, a trek is a trek. It involves you
                        as much mentally as it does physically. A trek is not just about taking a backpack and walking,
                        it is also about what goes in that backpack and how efficiently you walk.</p>

                    <p> If mountains, hikes and treks have been attracting you but the very idea of a trek scares you,
                        don't fret. There is a first time for every such step and once you have reached the highest
                        peak, that trek will change you for good. Preparing well for your first trek becomes the
                        foundation for preparing you mentally for future treks and expeditions.</p>

                    <p><strong>Here are 11 practical tips to get warm you up and get you started for preparing for your
                            very
                            first
                            trek.</strong></p>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div id="accordion" class="accordion mb-3">
                            <div class="card mb-0" *ngFor="let tips of beginnerTrekkers?.tips_first_time_trek; let i = index">
                                <div class="card-header collapsed" data-toggle="collapse" attr.data-target="#collapse_{{i+1}}"
                                    data-parent="#accordion">
                                    <a class="card-title text-dark">
                                        <span class="badge badge-secondary badge-pill"> {{i+1}} </span>
                                        {{tips.title}} </a>
                                </div>
                                <div id="collapse_{{i+1}}" class="card-body collapse" data-parent="#accordion">
                                    <p>{{tips.details}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div id="accordion1" class="accordion mb-3">
                            <div class="card mb-0" *ngFor="let data of beginnerTrekkers?.tips_first_time_trek_next; let i = index">
                                <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                                attr.data-target="#collapsed_{{i+1}}">
                                    <a class="card-title text-dark">
                                        <span class="badge badge-secondary badge-pill"> {{i+7}}</span>
                                        {{data.title}}</a>
                                </div>
                                <div id="collapsed_{{i+1}}" class="collapse" data-parent="#accordion1">
                                    <div class="card-body">
                                        <p> {{data.details}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="profile-tab">

                <div class="tab-pane-header">
                    <h4 class="pb-2">Things to know During First Trek</h4>
                    <div class="row">
                        <div class="col-md-12 col-s-12 col-12 bg-light">
                            <ul *ngFor="let during of duringTrek?.todo_during_trek">
                                <li>{{during.details}}</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="contact-tab">

                <div class="tab-pane-header">
                    <h4 class="pb-2">Things To Avoid Before The First Trek</h4>
                    <div class="row">
                        <div class="col-md-12 col-s-12 col-12 bg-light">
                            <dl class="row" *ngFor="let before of beforeTrek?.todo_befor_trek">
                                <dt class="col-sm-4">
                                    <span class="badge badge-secondary badge-pill"> {{before.id}} </span>
                                    {{before.title}} :</dt>
                                <dd class="col-sm-8">{{before.details}}
                                </dd>
                                <dt class="col-sm-4 border-bottom">
                                    <span class="badge badge-success badge-pill"> * </span>
                                    What to do instead :</dt>
                                <dd class="col-sm-8">{{before.solution}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>

            </div>

            <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="contact-tab">

                <div class="tab-pane-header">
                    <h4 class="pb-2">Things to do After trek</h4>

                    <div class="bg-light pl-2 pr-2 pt-2 row">
                        <p>Even a well-prepared hike can leave joints swollen and muscles achy and how you recover can
                            have massive implications in later life and how long you can keep hiking – it really is that
                            important!</p>
                        <ul *ngFor="let after of afterTrek?.todo_after_trek">
                            <li> {{after.details}} </li>
                        </ul>
                        <p>Once you are back home, your recovery starts. Here are eight steps to relieve the soreness
                            that comes from a long hike:</p>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-md-12 col-s-12 col-12 bg-light pt-1" *ngFor="let tips of afterTrek?.imp_tips">
                            <p><span class="badge badge-secondary badge-pill"> {{tips.id}} </span> <strong>{{tips.title}} :</strong> {{tips.details}}
                            </p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>